$bg-color:#141414;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Livvic', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
overflow-x: hidden;

}

/* .header, .hero{
  ol, ul{
    list-style-type: none;
  }
} */
ol,ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #000;
}