@mixin best-seller__cart{

}

.best-seller--top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    .best-seller--top__right{
        display: flex;
        align-items:center;
        gap: 15px;
    }
}

.best-seller{
    .best-seller__list{
        .best-seller__list__item{
            width: 305px;
            height: 600px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            background-color: #fff;

            .best-seller__img{
                width: 304px;
                height: 295px;
            }

            .best-seller__h3{
                font-size: $font-size + 2px;
                line-height: 34px;
                color:#141414;
                margin-left: 20px;
            }

            .best-seller__span1{
                display: flex;
                align-items:center;
                gap: 79px;
                margin-left: 20px;

                .best-seller__span1__desc1, .best-seller__span1__desc2{
                    font-size: $font-size - 2px;
                    line-height: 34px;
                    color:#ababab;
                }
            }

            .best-seller__span2{
                display: flex;
                align-items:center;
                gap: 40px;
                margin-left: 20px;
                margin-top: 11px;
                font-size: $font-size - 2px ;
                line-height: 34px;
                color:#ababab;               
            }

            .best-seller__hr{
                height: 2px;
                background-color: #141414;
                width: 265px;
                margin: 16px;
                margin-bottom: 20px;
            }

            .best-seller__span3{
                display: flex;
                align-items:center;
                gap: 117px;
                margin-left: 20px;

                .best-seller__span3__desc{
                    font-size: $font-size + 2px;
                    line-height: 34px;
                    color:#141414;
                    font-weight: bold;

                    .best-seller__span3__sp{
                        gap: 15px;
                    }
                }
            }
        }
    }
}

.best-seller__list{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-between;

}

.best-seller--bottom__img{
    display: block;
    margin: 0 auto;
    margin-top: 60px;
}