$btn-padding:2px 98px;
$btn-bg-color:#E8AA31;
$btn-color:#FFFFFF;
$btn-border-radius:3px;
$btn-font-size:18px;
$btn-border-style:none;
$btn-outline:none;


.hero--left-btn{
    padding: 10px 53px;
    background-color: $btn-bg-color;
    color:$btn-color;
    border-radius: $btn-border-radius;
    font-size: $btn-font-size;
    border:$btn-border-style;
    outline: $btn-outline;
    margin-bottom: 30px;
    transition: all .3s ease;

}

.hero--left-btn:hover{
    border: 3px solid #E8AA31;
    background-color: #fff;
    color:#E8AA31;
    font-weight: bold;
    transition: all .3s ease;
    border-radius:10px;
}

.hero--left-btn:active{
    opacity: 0.6;
}